
# q2:

In [13]:
import sqlite3

conn = sqlite3.connect('test.db')
cursor = conn.cursor()

create_table_query = '''
CREATE TABLE IF NOT EXISTS Employee (
    First_Name CHAR(20) NOT NULL,
    Last_Name CHAR(20),
    Age INT,
    Gender CHAR(1),
    Department CHAR(20),
    Income FLOAT
);
'''

cursor.execute(create_table_query)
conn.commit()
conn.close()

print("Employee table created successfully.")

Employee table created successfully.

# Q3

In [14]:
import sqlite3

conn = sqlite3.connect('test.db')
cursor = conn.cursor()

insert_query = '''
INSERT INTO Employee (First_Name, Last_Name, Age, Gender, Department, Income)
VALUES (?, ?, ?, ?, ?, ?);
'''

employees = [
    ('Aditya', 'P.Singh', 22, 'M', 'Engineering', 60000.0),
    ('Adarsh', 'N.Singh', 23, 'F', 'Marketing', 55000.0),
    ('Ishan', 'Agarwal', 35, 'F', 'HR', 70000.0),
    ('Abhijit', 'shukla', 40, 'M', 'Finance', 80000.0),
    ('abhishek', 'Lee', 28, 'M', 'IT', 50000.0)
]

cursor.executemany(insert_query, employees)
conn.commit()
conn.close()

print("Records inserted successfully.")

Records inserted successfully.

In [15]:
import sqlite3

conn = sqlite3.connect('test.db')
cursor = conn.cursor()
select_query = "SELECT * FROM Employee;"

cursor.execute(select_query)
rows = cursor.fetchall()

for row in rows:
    print(row)

conn.close()

('John', 'Doe', 30, 'M', 'Engineering', 60000.0)
('Jane', 'Smith', 25, 'F', 'Marketing', 55000.0)
('Emily', 'Davis', 35, 'F', 'HR', 70000.0)
('Michael', 'Johnson', 40, 'M', 'Finance', 80000.0)
('Chris', 'Lee', 28, 'M', 'IT', 50000.0)
('Aditya', 'P.Singh', 22, 'M', 'Engineering', 60000.0)
('Adarsh', 'N.Singh', 23, 'F', 'Marketing', 55000.0)
('Ishan', 'Agarwal', 35, 'F', 'HR', 70000.0)
('Abhijit', 'shukla', 40, 'M', 'Finance', 80000.0)
('abhishek', 'Lee', 28, 'M', 'IT', 50000.0)
('Aditya', 'P.Singh', 22, 'M', 'Engineering', 60000.0)
('Adarsh', 'N.Singh', 23, 'F', 'Marketing', 55000.0)
('Ishan', 'Agarwal', 35, 'F', 'HR', 70000.0)
('Abhijit', 'shukla', 40, 'M', 'Finance', 80000.0)
('abhishek', 'Lee', 28, 'M', 'IT', 50000.0)